* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-flex {
  display: flex;
}

/* LAYOUT */

header {
  width: 50px;
  height: calc(100vh - 100px);
  background-color: #000000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 10px;
}

main {
  width: calc(100vw - 50px);
  height: calc(100vh - 100px);
  background-color: green;
}

footer > section{
  width: 100vw;
  height: 100px;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

h2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
  margin-bottom: 0;
}


/* START NAVBAR XS */

aside {
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* Parte superiore */

.logo-spotify {
  height: 70px;
  line-height: 70px;
}

.logo-spotify > img {
  width: 90%;
}

.text-sidebar {
  /* border: 1px solid white; */
  padding: 5px 0;
}

.text-sidebar > img {
  width: 15%;
  vertical-align: middle;
}

.text-sidebar > p {
  font-size: 10px;
  font-weight: 700;
  color: #b3b3b3;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-left: 5px;
  /* display: none; */
}

/* Playlist */

#playlist {
  height: 200px;
  overflow: hidden;
  margin: 15px 0;
  /* display: none; */
}

.title-playlist > h3 {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.text-playlist {
  padding: 10px 0;
}

.text-playlist > img {
  width: 20%;
  vertical-align: middle;
}

.text-playlist > span {
  font-size: 12px;
  color: #b3b3b3;
  font-weight: 700;
}

.content-playlist {
  height: 25vh;
  overflow-y: auto;
}

.name-playlist > li {
  color: #b3b3b3;
  font-size: 10px;
  font-weight: 700;
  padding-bottom: 10px;
}

.app-profile {
  width: 100%;
  background-color: #000;
  padding-bottom: 5px;
  margin-top: auto;
}

/* Profile */

.content-app > hr {
  margin: 5px 0;
  border-color: #b3b3b3;
}

.text-app-sidebar > .far {
  border-color: #b3b3b3;
  font-size: 12px;
  font-weight: 700;
}

.text-app-sidebar > span {
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 700;
}

.text-app-sidebar > span:hover {
  color: #fff;
}

.content-profile > img {
  width: 15%;
}

.content-profile > span {
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 700;
}

.content-profile > span:hover {
  color: #fff;
}


/* END NAVBAR XS */

/* START PREMIUM XS */

#premium {
  width: calc(100vw - 50px);
  height: 70px;
  background-color: rgb(9, 11, 15);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.8;
  position: fixed;
  z-index: 1;
}

.btn-premium {
  width: 180px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-premium:hover {
  transform: scale(1.1, 1.1);
}

.btn-premium > span {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

/* END PREMIUM XS */


/* START MUSIC XS */

#music {
  width: calc(100vw - 50px);
  height: calc(100vh - 100px);
  background-color: rgb(16, 19, 25);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Menù music */

#menu-music ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

#menu-music ul li {
  color: #b3b3b3;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 5px;
  font-weight: 700;
}

#menu-music ul li hr {
  border-top: 2px solid rgb(16, 19, 25);
  margin: 0 auto;
}

#menu-music ul li:hover hr{
  display: block;
  text-align: center;
  width: 20px;
  margin: 0 auto;
  border-radius: 5px;
  border-top: 2px solid green;
}

/* Recently played */

.text-recently {
  margin: 5px;
}

.album {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-album {
  width: calc(100%/2 - 10px);
  margin: 5px;
  text-align: center;
}

.img-album img {
  width: 100%;
}

.title-album {
  color: #fff;
  font-weight: 700;
  margin: 0;
  font-size: 13px;
  padding-top: 5px;
}

.author-album {
  color: #b3b3b3;
  margin: 0;
  font-size: 10px;
  padding-bottom: 10px;
}

.img-album {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}

.img-album:hover .overlay{
  background-color: #000;
  opacity: 0.7;
}

.overlay > .far {
  color: #fff;
  opacity: 1;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-tondo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  border-radius: 100px;
}

.img-album:hover .overlay-tondo{
  background-color: #000;
  opacity: 0.7;
}

.overlay-tondo > .far {
  color: #fff;
  opacity: 1;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/* Creato per John Doe */

.text-creato-per {
  margin: 5px;
}

.text-creato-per > p {
  color: #b3b3b3;
  font-size: 12px;
  margin-bottom: 15px;
}

/* Artisti popolari */

.text-artisti-popolari {
  margin: 5px;
}

.text-artisti-popolari > p {
  color: #b3b3b3;
  font-size: 12px;
  margin-bottom: 15px;
}

#artisti-popolari img {
  border-radius: 100px;
}

/* END PREMIUM XS */

/* END MAIN XS */

/* START FOOTER XS */

/* Right section */

.content-right-section-footer {
}

.right-section-footer {
  width: 150px;
  height: 50px;
  background-color: #90EE90;
}

.right-section-footer img {
  width: 35px;
}

.text-right-section {
  display: inline-block;
}

.text-right-section ul {
  display: inline;
}

.title-song {
  font-size: 10px;
  font-weight: 700;
  color: #b3b3b3;
  margin: 0;
}

.author-song {
  font-size: 10px;
  font-weight: 700;
  color: #b3b3b3;
  margin: 0;
}


.box-light-green {
  width: 50px;
  height: 50px;
  background-color: #90EE90;
  margin: 10px;
}

/* Central section */

.control-music {
  display: flex;
  align-items: center;
}

.control-music .fas, .control-music .far {
  color: #b3b3b3;
  padding: 0 10px;
}
.control-music .fas:hover, .control-music .far:hover {
  color: #fff;
}

.control-music .fas {
  font-size: 15px;
}

.control-music .far {
  font-size: 20px;
}

/* Left section */

.control-audio > .fas {
  color: #b3b3b3;
  font-size: 15px;
  padding: 0 7px;
}

.control-audio > .fas:hover {
  color: #fff;

}

/* Progress bar */
.progress {
  height: 5px;
}

.my-progress-bar {
  width: 25%;
  
}


/* END FOOTER XS */



/* ----- MEDIA SM ----- */

@media all and (min-width: 768px) {

/* Layout */

header {
  width: 150px;
  height: calc(100vh - 100px);
  background-color: #000000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 10px;
}

main {
  width: calc(100vw - 150px);
  height: calc(100vh - 100px);
  background-color: green;
}

/* Premium */

#premium {
  width: calc(100vw - 150px);
  height: 70px;
  background-color: rgb(9, 11, 15);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.8;
  position: fixed;
  z-index: 1;
}

/* Music */

#music {
  width: calc(100vw - 150px);
  height: calc(100vh - 100px);
  background-color: rgb(16, 19, 25);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Recently played */

.content-album {
  width: calc(100%/4 - 10px);
  margin: 5px;
  text-align: center;
}


}


/* ----- MEDIA MD ----- */

@media all and (min-width: 992px) {


/* Music */

/* Recently played */

.content-album {
  width: calc(100%/6 - 10px);
  margin: 5px;
  text-align: center;
}
}
