* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-flex {
  display: flex;
}

/* LAYOUT XS */

header {
  width: 50px;
  height: calc(100vh - 80px);
  background-color: #000000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 10px;
}

main {
  width: calc(100vw - 50px);
  height: calc(100vh - 80px);
  background-color: green;
}

footer {
  width: 100vw;
  height: 80px;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
  padding: 0 10px;
}

h2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
  margin-bottom: 0;
}

/* START NAVBAR XS */

aside {
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* NAVBAR XS - Parte superiore */

.logo-spotify {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 70px;
}

.logo-spotify > img {
  width: 90%;
}

.logo-desktop {
  display: none;
}

.text-sidebar {
  text-align: center;
  padding: 5px 0;
}

.text-sidebar:hover svg , .text-sidebar:hover p {
  cursor: pointer;
  color: #fff;
}

.text-sidebar-active {
  border-left: 2px solid rgb(164, 255, 37);
  margin-left: -10px;
  padding-left: 10px;
}

.menu-sidebar > .text-sidebar > svg.active {
  color: #fff;
}

.menu-sidebar > .text-sidebar > p.active {
  color: #fff;
}

.text-sidebar > svg {
  vertical-align: middle;
  color: #b3b3b3;
}

.text-sidebar > p {
  font-size: 10px;
  font-weight: 700;
  color: #b3b3b3;
  vertical-align: middle;
  margin: 0;
  padding-left: 5px;
  display: none;
}

/* NAVBAR XS - Playlist */

#playlist {
  display: none;
}

.text-playlist {
  padding: 10px 0;
}

.text-playlist > .fas {
  font-size: 35px;
  padding-right: 5px;
  vertical-align: middle;
  color: #b3b3b3;
}

.text-playlist:hover .fas, .text-playlist:hover span {
  color: #fff;
  cursor: pointer;
}

.text-playlist > span {
  font-size: 12px;
  color: #b3b3b3;
  font-weight: 700;
}

.content-playlist {
  height: 30vh;
  overflow-y: auto;
}

.name-playlist > li {
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 10px;
}

.name-playlist > li:hover {
  color: #fff;
  cursor: pointer;
}

.app-profile {
  width: 100%;
  background-color: #000;
  padding-bottom: 5px;
  margin-top: auto;
}

/* NAVBAR XS - Profile */

.content-app > hr {
  display: none;
}

.text-app-sidebar {
  text-align: center;
}

.text-app-sidebar > .far {
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 700;
}

.text-app-sidebar > .far:hover {
  color: #fff;
}

.text-app-sidebar > span {
  display: none;
}

.content-profile {
  text-align: center;
}

.content-profile > img {
  width: 70%;
  padding-top: 15px;
}

.content-profile > span {
  display: none;
}

/* END NAVBAR XS */

/* START PREMIUM XS */

#premium {
  width: calc(100vw - 50px);
  height: 70px;
  background-color: rgb(9, 11, 15);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.8;
  position: fixed;
  z-index: 1;
  padding-right: 10px;
}

.btn-premium {
  width: 180px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-premium:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.btn-premium > span {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

/* END PREMIUM XS */


/* START MUSIC XS */

#music {
  width: calc(100vw - 50px);
  height: calc(100vh - 80px);
  background-color: rgb(16, 19, 25);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-right: 15px;
  padding-left: 15px;
}

/* MUSIC XS - Menù */

#menu-music ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

#menu-music ul li {
  color: #b3b3b3;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 5px;
  font-weight: 700;
}

#menu-music ul li {
  cursor: pointer;
}

#menu-music ul li hr {
  border-top: 2px solid rgb(16, 19, 25);
  margin: 0 auto;
}

#menu-music ul li:hover {
  cursor: pointer;
  color: #fff;
}

#menu-music > .content-music > ul > li > hr.active {
  display: block;
  text-align: center;
  width: 20px;
  margin: 0 auto;
  border-radius: 5px;
  border-top: 2px solid rgb(164, 255, 37);
}

#menu-music ul li:first-child {
  color: #fff;
}

 #menu-music ul li:active hr {
  display: block;
  text-align: center;
  width: 20px;
  margin: 0 auto;
  border-radius: 5px;
  border-top: 2px solid rgb(164, 255, 37);
}

/* MUSIC XS - Recently played */

.text-recently {
  margin: 5px;
}

.album {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-album {
  width: calc(100%/2 - 10px);
  margin: 5px;
  text-align: center;
}

.img-album img {
  width: 100%;
}

.title-album {
  color: #fff;
  font-weight: 700;
  margin: 0;
  font-size: 13px;
  padding-top: 5px;
}

.author-album {
  color: #b3b3b3;
  margin: 0;
  font-size: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}

.img-album {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}

.img-album:hover .overlay{
  background-color: #000;
  opacity: 0.7;
  cursor: pointer;
}

.overlay > .far {
  color: #fff;
  opacity: 1;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-tondo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  border-radius: 100px;
}

.img-album:hover .overlay-tondo{
  background-color: #000;
  opacity: 0.7;
  cursor: pointer;
}

.overlay-tondo > .far {
  color: #fff;
  opacity: 1;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MUSIC XS - Creato per John Doe */

.text-creato-per {
  margin: 5px;
}

.text-creato-per > p {
  color: #b3b3b3;
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 700;
}

/* MUSIC XS - Artisti popolari */

.text-artisti-popolari {
  margin: 5px;
}

.text-artisti-popolari > p {
  color: #b3b3b3;
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 700;
}

#artisti-popolari img {
  border-radius: 100px;
}


/* START FOOTER XS */

/* FOOTER XS - Left section */

.left-section-footer {
  display: flex;
  flex: 1 0 50px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.content-left-section-footer {
  display: flex;
  align-items: center;
  justify-content: ;
}

.left-section-footer img {
  width: 30px;
}

.text-left-section {
  display: none;
}

.title-song {
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.author-song {
  font-size: 7px;
  font-weight: 700;
  color: #b3b3b3;
  margin: 0;
}

.author-song:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.box-light-green {
  width: 50px;
  height: 50px;
  background-color: #90EE90;
  margin: 10px;
}

.icon-left-section {
  padding-left: 15px;
}

.icon-left-section > .far {
  display: block;
  color: #b3b3b3;
  padding-left: 5px;
}

.icon-left-section > .far:hover {
  color: #fff;
  cursor: pointer;
}

/* FOOTER XS - Central section */

.central-section-footer {
  display: flex;
  flex-direction: column;
  flex: 2 0 200px;
  justify-content: center;
  align-items: center;
}

.music-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  width: 100%;
}

.control-music {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.control-music .fas, .control-music .far {
  color: rgb(180, 180, 180);
  margin: 0 10px;
  cursor: pointer;
}
.control-music .fas:hover, .control-music .far:hover {
  color: #fff;
  cursor: pointer;
}

.control-music .fas {
  font-size: 15px;
}

.control-music .far {
  font-size: 25px;
}

.control-music .far:hover {
  transform: scale(1.1);
}

/* FOOTER XS - Progress bar */

.number-progress {
  color: rgb(180, 180, 180);
  font-size: 10px;
}

.central-progress {
  height: 5px;
  width: 50%;
  background-color: rgb(72, 72, 72);
  margin: 15px 10px;
  position: relative;
}

.my-progress-bar {
  width: 25%;
  background-color: rgb(180, 180, 180);
  position: relative;
  border-radius: 10px;
}

.progress {
  overflow: visible;
}

.progress:hover .my-progress-bar {
  background-color: rgb(164, 255, 37);
  cursor: pointer;
}

.white-ball {
  display: none;
}

.progress:hover .white-ball {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  left: 25%;
  top: -5px;
  display: block;
  cursor: pointer;
}

/* FOOTER XS - Right section */

.right-section-footer {
  display: flex;
  flex: 1 0 50px;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.control-audio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-audio > .fas {
  color: rgb(180, 180, 180);
  font-size: 12px;
  margin: 0 5px;
}

.control-audio > .fas:hover {
  color: #fff;
  cursor: pointer;
}

.right-progress {
  display: none;
}

/* END FOOTER XS */

/* ----- MEDIA SM ----- */

@media all and (min-width: 576px) {

/* LAYOUT SM */

header {
  width: 170px;
  height: calc(100vh - 80px);
  background-color: #000000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 10px;
}

main {
  width: calc(100vw - 170px);
  height: calc(100vh - 80px);
  background-color: green;
}

/* SIDEBAR SM */

/* SIDEBAR SM - Logo */

.logo-desktop {
  display: block;
}

.logo-mobile {
  display: none;
}

/* SIDEBAR SM - Text  */

.text-sidebar > p {
  font-size: 12px;
  font-weight: 700;
  color: #b3b3b3;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-left: 5px;
}

.text-sidebar {
  text-align: left;
  display: flex;
  align-items: center;
}

.text-sidebar > img {
  width: 15%;
  vertical-align: middle;
}

/* SIDEBAR SM - Playlist */

#playlist {
  height: 250px;
  overflow: hidden;
  margin: 15px 0;
  display: block;
}

.title-playlist > h3 {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}

/* SIDEBAR SM - Parte inferiore playlist */

.text-app-sidebar {
  text-align: left;
}

.text-app-sidebar > span {
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 700;
  padding-left: 5px;
  display: inline;
}

.text-app-sidebar:hover span, .text-app-sidebar:hover .far {
  color: #fff;
  cursor: pointer;
}

.content-app > hr {
  margin: 7px 0;
  border-color: #b3b3b3;
  display: block;
}

.content-profile {
  text-align: left;
}

.content-profile > img {
  width: 13%;
  padding-top: 0px;
}

.content-profile > span {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding-left: 5px;
  display: inline;
}

/* START PREMIUM SM */

#premium {
  width: calc(100vw - 170px);
  height: 70px;
  background-color: rgb(9, 11, 15);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.8;
  position: fixed;
  z-index: 1;
}

/* PREMIUM SM - Music */

#music {
  width: calc(100vw - 170px);
  height: calc(100vh - 80px);
  background-color: rgb(16, 19, 25);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-right: 15px;
  padding-left: 15px;
}

/* PREMIUM SM - Recently played */

.content-album {
  width: calc(100%/2 - 10px);
  margin: 5px;
  text-align: center;
}

/* FOOTER SM */

.icon-left-section > .far {
  display: block;
}

/* FOOTER SM - Left section */

.left-section-footer {
  display: flex;
  flex: 1 0 100px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.left-section-footer img {
  width: 40px;
}

.text-left-section {
  padding: 0px 10px;
  display: inline;
}

.title-song {
  font-size: 12px;
}

.author-song {
  font-size: 10px;
}

/* FOOTER SM - Right section */

.right-section-footer {
  display: flex;
  flex: 1 0 100px;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.right-progress {
  height: 5px;
  width: 100px;
  background-color: rgb(72, 72, 72);
  margin: 15px 0;
  position: relative;
  display: inline;
}

}

/* ----- MEDIA MD ----- */

@media all and (min-width: 768px){

/* MUSIC MD */

/* MUSIC MD - Recently played */

.content-album {
  width: calc(100%/4 - 10px);
  margin: 5px;
  text-align: center;
  }

.icon-left-section > .far {
  display: inline-block;
}
}

/* ----- MEDIA LG ----- */

@media all and (min-width: 992px) {

/* MUSIC LG */

/* MUSIC LG - Recently played */

.content-album {
  width: calc(100%/6 - 10px);
  margin: 5px;
  text-align: center;
}

}
